<h1><%= @robot.name %></h1>

<%= form_for(@robot) do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> 
    <%= f.text_field :name %>
  </div>

  <div id="tabs">
      <ul>
          <li><a href="#tabs-1">Head</a></li>
          <li><a href="#tabs-2">Arms</a></li>
          <li><a href="#tabs-3">Body</a></li>
          <li><a href="#tabs-4">Legs</a></li>
      </ul>
      <div id="tabs-1" class="pos-1">
        <% @heads.each do |part| %>
          <% @highl = "" %>
          <% if @heads.include?(part) then @highl = "highlight" end %>
          <div>
             <%= image_tag part.image_url, { :class => "bodypart #{@highl}", :data => { :id => part.id, :position => part.position }} %>
          </div>

        <% end %>
      </div>
      <div id="tabs-2" class="pos-2 pos-4">
         <% @arms.each do |part| %>
          <% @highl = "" %>
          <% if @heads.include?(part) then @highl = "highlight" end %>
          <div>
             <%= image_tag part.image_url, { :class => "bodypart #{@highl}", :data => { :id => part.id, :position => part.position }} %>
          </div>
        <% end %>
         
      </div>
      <div id="tabs-3" class="pos-3">
       <% @torsos.each do |part| %>
          <% @highl = "" %>
          <% if @heads.include?(part) then @highl = "highlight #{@highl}" end %>
          <div>
             <%= image_tag part.image_url, { :class => "bodypart", :data => { :id => part.id, :position => part.position }} %>
          </div>
        <% end %>
        
      </div>
       <div id="tabs-4" class="pos-5">
        <% @legs.each do |part| %>
          <% @highl = "" %>
          <% if @heads.include?(part) then @highl = "highlight #{@highl}" end %>
          <div>
             <%= image_tag part.image_url, { :class => "bodypart", :data => { :id => part.id, :position => part.position }} %>
          </div>

        <% end %>
        
      </div>
  </div>


  <div class="actions align-right">
    <%= f.submit %>
  </div>

  <div id="myrobot">
  <% @robot.robot_parts.each do |part| %>
  		<div>
   			 <%= image_tag part.image_url, { :class => part.position } %>
  		</div>

	<% end %>
  </div>

<% end %>

