<%= form_for(@robot_part) do |f| %>
  <% if @robot_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot_part.errors.count, "error") %> prohibited this robot_part from being saved:</h2>

      <ul>
      <% @robot_part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :part_type %><br />
    <%= f.text_field :part_type %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
