<h1>Listing states</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image url</th>
    <th>Position</th>
    <th>State category</th>
    <th>Image preview</th>
    <th></th>
    <th></th>
  </tr>

<% @states.each do |state| %>
  <tr>
    <td><%= state.name %></td>
    <td><%= state.image_url %></td>
    <td><%= state.position %></td>
    <td><%= state.state_category.name %></td>
    <td>
    <%= image_tag state.image_url, :class => "item" %>
    </td>
    <td><%= link_to 'Show', state %></td>
    <td><%= link_to 'Edit', edit_state_path(state) %></td>
    <td><%= link_to 'Destroy', state, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New State', new_state_path %>
