
<div id="level_data" style="display:none">
  <span id="final_state"><%= @level.final_state_id %></span>
  <span id="time_limit"><%= @level.time_limit %></span>
  <span id="description"><%= @level.description %></span>
</div>



        <div id="topSpace">
          <h1>Now playing <%= @level.name %></h1>

  <h2>Serve</h2>
  <div id="serve" style="border: 1px solid red; width:100px; height:100px;">
    
  </div>
        </div>    

        <div id="gameSpace">
            <div class="column floatLeft">
                <div class="top">
                    <!--<div id="selectionSlider" class="floatLeft">
                        <div>
                            <span class="float-left">Likes</span>
                            <span class="float-left" id="selector"></span>
                            <span class="float-left">Plays</span>
                        </div>
                    </div>-->
                </div>
                <div class="top">
                </div>
            </div>

            <div class="column floatLeft marginLeft">
            </div>

            <div class="column floatLeft marginLeft">
                <div class="top">

                </div>
                <div class="top">

  <% @items.each do |item| %>
  <% if !item.transition? %>
    <div class="itembox"><%= item.name %><b4><%= image_tag item.image_url, {  :class=> "item", :id => item.id, :style=> "height:70px"} %></div>
    <% end %>
  <% end %>
                </div>
            </div>
        </div>
</body>
</html>