<h1>Bots 'n Pans</h1>


<h5>Recipe Book</h5>

<div id="accordion">
    <h3>Level 1</h3>
    <div>
        <p>Description.</p>
    </div>

    <h3>Level 2</h3>
    <div>
        <p>Description2.</p>
    </div>

    <h3>Level 3</h3>
    <div>
        <p>Description3</p>
    </div>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Final state</th>
    <th>Description</th>
    <th>Level category</th>
    <th>Time limit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @levels.each do |level| %>
  <tr>
    <td><%= level.name %></td>
    <td><%= level.final_state_id %></td>
    <td><%= level.description %></td>
    <td><%= level.level_category_id %></td>
    <td><%= level.time_limit %></td>
    <td><%= link_to 'Show', level %></td>
    <td><%= link_to 'Edit', edit_level_path(level) %></td>
    <td><%= link_to 'Destroy', level, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Level', new_level_path %>
