<%= content_for :head %>
<%= stylesheet_link_tag "levels" %>


<div id="profile">
	<h1><%= current_user.robot.name %></h1>
	<p><%= link_to 'Edit Robot', robotcustomization_path %> | <%= link_to 'Edit Account', edit_user_registration_path(:user) %></p>
	<div>
	<%= image_tag "c3po.png" %>
	</div>
	<div id = "gameStats">
		<h4>Game Statistics</h4>
		<ul id="statsList">
			<li>Number of recipies cooked: 10</li>
			<li>Best time: 3:20</li>
			<li>Favorite Recipe: Cake</li>
		</ul>
	</div>
	<div id="badgeContainer">
		<div class="badge unlocked">
			Unocked badge 1
		</div>
		<div class="badge unlocked">
			Unocked badge 2
		</div>
		<div class="badge unlocked">
			Unocked badge 3
		</div>
			<hr>
		<div class="badge locked">
			Locked badge 1
		</div>
		<div class="badge locked">
			Locked badge 2
		</div>
		<div class="badge locked">
			Locked badge 3
		</div>



	</div>
</div>


<div id="accordion" class="accordion">
    <% @levels.each do |level| %>

    <h3><%= level.name %></h3>
    
    <div>
    	<span class="floatRight greenButton playButton"><%= link_to 'Play!', playgame_path(:id => level.id)  %></span>
        <p><%= level.description %></p>
        <p>Category: <%= level.level_category.name %></p>
    </div>

    <% end %>

  

</div>

