<!DOCTYPE html>
<html>
<head>
  <title>Bots and Pans | A cooking game for every bot.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= yield :head %>
</head>
<body>


</body>
</html>
<div id="wrapper">
    <div id="content">
        <header>
			<div id="logo">
            </div>

            <div id="navigation" class="floatRight">
                <a href="#">Home</a>
                <a href="#">Recipe Book</a>
            </div>
            <div class="signin">
			<% if user_signed_in? %>
				Signed in as <%= current_user.email %>. Not you?
				<%= link_to "Sign out",  destroy_user_session_path %>
			<% else %>
				<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>.
			<% end %>
			</div>
		 </header>
		 	
		 	<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
	<%= yield %>
    </div>
    <footer>
	<p>&copy; Copyright Bots&amp;Pans Team for Info213</p>
</footer>
</div>
